<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta property="og:image"
	content="http://kongnote.com/common/imgs/wdetail/wedding_2_r.jpg">
<meta property="og:title" content="박성연 · 김민주의 결혼식에 초대합니다.">
<meta property="og:description" content="클릭하시면 연결됩니다.">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>박성연 · 김민주의 결혼식에 초대합니다.</title>
</head>

<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="/common/lib/bootstrap/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet"
	href="/common/lib/bootstrap/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="/common/lib/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5dc2a366368f8b262e5f6284f2c55ba9"></script>

<link rel="stylesheet" href="/common/lib/swiper/css/swiper.min.css">

<script src="/common/lib/swiper/js/swiper.js"></script>
<script src="/common/lib/swiper/js/swiper.min.js"></script>

<!-- 기타 리소스 파일 -->
<!-- loginForm.css -->
<link rel="stylesheet" href="/common/css/wedding.css?ver=20180904_01" />

<body oncontextmenu="return false" ondragstart="return false"
	onselectstart="return false">
	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-static-top"
				style="background-color: #f5eaea; color: #5a5a5a !important;">
				<div class="container">
					<!-- <div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar"
							style="border: 1px solid grey;">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar" style="background-color: grey;"></span> <span
								class="icon-bar" style="background-color: grey;"></span> <span
								class="icon-bar" style="background-color: grey;"></span>
						</button>
						<a class="navbar-brand" href="#">Project name</a>
					</div> -->
					<div id="navbar">
						<ul class="nav navbar-nav" style="display:flex;">
							<li class="active"><a href="/Shesaidyes">Home</a></li>
							<li><a href="#" onclick="scrolling('.gallery-area')">Gallery</a></li>
							<li><a href="#" onclick="scrolling('.location-area')">Location</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>


	<!-- Carousel
        ==================================================
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="sh-flex-item item active">
				<img class="first-slide"
					src="/common/imgs/wedding_card_intro_kr_01.png" alt="First slide"
					border="0">
			</div>
		</div>
	</div>
	 -->

	<div class="container marketing">

		<div class="row featurette" style="text-align: center;">
			<div class="col-md-12">
				<img class="cover-img featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="/common/imgs/wedding_card_intro_kr_01.png"
					data-holder-rendered="true" style="margin-top:55px;">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette" style="text-align: center;">
			<div class="col-md-5">
				<h4
					style="margin-top: 0px; margin-bottom: 12px; font-weight: bold !important; color:#777;">저희
					결혼식에</h4>
				<h4
					style="margin-top: 0px; margin-bottom: 80px; font-weight: bold !important; color:#777;">소중한
					분들을 정중히 초대합니다.</h4>
				<img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="/common/imgs/wdetail/wedding_17_r.jpg"
					data-holder-rendered="true" style="width: 85%;">
			</div>
			<div class="col-md-7">
				<img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="/common/imgs/good_words_for_people.png"
					data-holder-rendered="true" style="width: 80%;">
			</div>
		</div>

		<hr class="featurette-divider">

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-12"
				style="text-align: center; margin-bottom: 48px;">
				<!-- <img class="img-circle" src="/common/imgs/introduce_sy_r.jpg"
					alt="Generic placeholder image" width="140" height="140"> -->
				<h4 style="color:#777;">
					박덕종 · 김옥희 <small>의 장남</small>
				</h4>
				
				<h3> <small>신랑</small> 박 성 연</h3>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-12" style="text-align: center;">
				<!-- <img class="img-circle" src="/common/imgs/introduce_mj_r.jpg"
					alt="Generic placeholder image" width="140" height="140"> -->
				<h4 style="color:#777;">
					김성덕 · 서동신 <small>의 장녀</small>
				</h4>
				<h3><small>신부</small> 김 민 주</h3>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->

		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider gallery-area">

		<div class="row featurette">
			<div class="col-md-7">
				<!-- <h2 class="featurette-heading" style="margin-bottom:36px;">WEDDING <span class="text-muted">GALLERY</span></h2> -->
				<img class="featurette-image img-responsive center-block"
					src="/common/imgs/gallery_icon.png" data-holder-rendered="true"
					style="width: 25%; margin-bottom: 80px;">
			</div>

			<div class="col-md-5">
				<div class="move-gallery"
					style="text-align: center; padding:12px;">
					<label style="color:#777">더 많은 사진 보기 Click!</label>
				</div>
				<div class="gallery_intro_wrap">
					<div>
						<img class="featurette-image img-responsive center-block"
							src="/common/imgs/wdetail/wedding_16_r.jpg"
							data-holder-rendered="true">
					</div>

					<div style="opacity: 0.4;">
						<img class="featurette-image img-responsive center-block"
							src="/common/imgs/wdetail/wedding_5_r.jpg"
							data-holder-rendered="true">
					</div>

					<div style="opacity: 0.4;">
						<img class="featurette-image img-responsive center-block"
							src="/common/imgs/wdetail/wedding_8_r.jpg"
							data-holder-rendered="true">
					</div>

					<div>
						<img class="featurette-image img-responsive center-block"
							src="/common/imgs/wdetail/wedding_12_r.jpg"
							data-holder-rendered="true">
					</div>
					<div>
						<img class="featurette-image img-responsive center-block"
							src="/common/imgs/wdetail/wedding_7_r.jpg"
							data-holder-rendered="true">
					</div>

					<div style="opacity: 0.6;">
						<img class="featurette-image img-responsive center-block"
							src="/common/imgs/wdetail/wedding_11_r.jpg"
							data-holder-rendered="true">
					</div>

				</div>
				
			</div>

		</div>

		<hr class="featurette-divider location-area">

		<div class="row featurette">
			<div class="col-md-7">
				<!-- <h2 class="featurette-heading">오시는길 <span class="text-muted" style="font-size:20px;"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></span></h2> -->
				<img class="featurette-image img-responsive center-block"
					src="/common/imgs/location_icon.png" data-holder-rendered="true"
					style="width: 25%; margin-bottom: 80px;"> 
				<img
					class="location-img featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto" alt="500x500"
					src="/common/imgs/location.png" data-holder-rendered="true">

			</div>
			<div class="col-md-5 map-wrapper">
				<!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMTI1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true"> -->

				<div id="map" class="location-map"
					style="width: 100%; height: 400px;"></div>
			</div>
		</div>
		<hr class="featurette-divider">
		<!-- /END THE FEATURETTES -->


		<!-- FOOTER -->
		<footer style="color:#777;">
			<p class="pull-right" style="font-weight:bold;">
				<a href="#">Back to top</a>
			</p>
			<h5 class="text-muted">
				For 성연 · 민주 <a href="#"> <small class="text-muted"><br />made by
						Joonki · design_jeong_ and Baek</small></a>
			</h5>
		</footer>

	</div>
	<!-- /.container -->

	<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500"
		viewBox="0 0 500 500" preserveAspectRatio="none"
		style="visibility: hidden; position: absolute; top: -100%; left: -100%;">
		<defs></defs>
		<text x="0" y="23"
			style="font-weight:bold;font-size:23pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">500x500</text></svg>
</body>
<script>
		var container = document.getElementById('map');
		var options = {
			center: new daum.maps.LatLng(37.551101, 126.943841),
			level: 3
		};
		
		var map = new daum.maps.Map(container, options);
		
		var marker = new daum.maps.Marker({
		    map: map,
		    position: new daum.maps.LatLng(37.551101, 126.943841)
		});
		
		marker.setMap(map);
		
		///
		var mySwiper = new Swiper ('.swiper-container', {
		    // Optional parameters
		    direction: 'horizontal',
		    loop: true,
		
		    // If we need pagination
		    pagination: {
		      el: '.swiper-pagination',
		    },
		
	    })
		
		function scrolling(pos) {
			console.log(pos)
			console.log($(pos).offset().top)
			var targetLocationNum = $(pos).offset().top;
 	        $('html, body').animate({'scrollTop' : targetLocationNum + 'px'}, "slow");
 	    }
		
		$(document).ready(function(){
			$(".move-gallery").click(function(){
	 			moveToGalleryDetail();
			});
			
	 		function moveToGalleryDetail() {
	 			location.href = "/wedding_gallery.html?lang=kr";
	 		}
	 		
		})
		
	</script>
</html>