.login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

@media (min-width: 900px) {
    .login-container {
        background-size: 100%;
    }
}

.login-form-wrapper {
    border: 1px solid #efefef;
    width: 400px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
}

.title-img-wrapper {
	text-align: center;
    margin-bottom: 24px;
    border-bottom: 45px solid #66ff66;
    border-radius: 8%;
}

.login-form {
    padding-left: 2em;
    padding-right: 2em;
}

.main-title-word {
	font-family: 'Roboto Condensed';
	color: #10abfd;
}

.sign-up-form {
    display: none;
    padding-top: 5.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.login-header {
    width: 100%;
    height: 140px;
    padding-top: 18px;
}

.login-btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::after {
    content: attr(data-icon);
    font-family: Material-Design-Iconic-Font;
    color: #adadad;
    font-size: 22px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-bottom: 18px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

input {
    outline: none;
    border: none;
}

.login-btn {
    width: 46%;
    margin-right: 1em;
    background-color: #10abfd;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.sign-up-btn {
    width: 46%;
    background-color: #10abfd;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.cancel-btn {
    width: 46%;
    background-color: #10abfd;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.sign-btn {
    width: 46%;
    margin-right: 1em;
    background-color: #10abfd;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}